In [32]:
import pandas as pd
import numpy as np

In [33]:
df=pd.read_csv('tycgpa.csv')

In [34]:
df

,Branch Co5.5,PRN,Stu5.5nt Name,BTITC501,BTITC502,BTITPE503E,BTITOE504D,BTITL505,BTITL506,BTITP507,BTITF508
0,11246,2.154490e+12,Chaudhari Priyanshu ...,6.5,6,8,6.5,8.5,8.5,8.5,AU
1,11246,2.154490e+12,Kothawade Tejas Sada...,6,6.5,7.5,6.5,8,7.5,7.5,AU
2,11246,2.154490e+12,Patil Lalit Vijay,6,5.5,7,6,7,7.5,7.5,AU
3,11246,2.154490e+12,Ahire Divya Dilip,6.5,7,7.5,6,10,9,8.0,AU
4,11246,2.154490e+12,Ahirrao Vaishnavi Ki...,6,6,7.5,5.5,9,8.5,8.0,AU
...,...,...,...,...,...,...,...,...,...,...,...
62,11246,2.254490e+12,Dhanashri Sanjay Cha...,6.5,7,7.5,6,9,9,9.0,AU
63,11246,2.254490e+12,Om Shashikant Kadam,5.5,5,6,6,7,7.5,8.0,AU
64,11246,2.254490e+12,Kalparatna Bhausaheb...,7.5,8,8.5,7.5,9,10,8.5,AU
65,11246,2.254490e+12,Sushant Anan Rokade,6.5,7,6.5,8,8.5,7.5,8.5,AU
66,11246,2.254490e+12,Jagruti Deepak Wagh,5.5,5,FF,5,8,8,9.0,AU

In [29]:
df['Total']=df['BTITC501']+	df['BTITC502']+df['BTITPE503E']+df['BTITOE504D']+df['BTITL505']+df['BTITL506']+df['BTITP507']

TypeError: can only concatenate str (not "float") to str

In [35]:
numeric_columns = ['BTITC501', 'BTITC502', 'BTITPE503E', 'BTITOE504D', 'BTITL505', 'BTITL506', 'BTITP507']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

df.fillna(0, inplace=True) 

df['total'] = (df['BTITC501'] + df['BTITC502'] + df['BTITPE503E'] + df['BTITOE504D'] + df['BTITL505'] + df['BTITL506'] + df['BTITP507'])/7

# Save the modified DataFrame back to CSV
df.to_csv('modified_file.csv', index=False)

In [36]:
df

,Branch Co5.5,PRN,Stu5.5nt Name,BTITC501,BTITC502,BTITPE503E,BTITOE504D,BTITL505,BTITL506,BTITP507,BTITF508,total
0,11246,2.154490e+12,Chaudhari Priyanshu ...,6.5,6.0,8.0,6.5,8.5,8.5,8.5,AU,7.500000
1,11246,2.154490e+12,Kothawade Tejas Sada...,6.0,6.5,7.5,6.5,8.0,7.5,7.5,AU,7.071429
2,11246,2.154490e+12,Patil Lalit Vijay,6.0,5.5,7.0,6.0,7.0,7.5,7.5,AU,6.642857
3,11246,2.154490e+12,Ahire Divya Dilip,6.5,7.0,7.5,6.0,10.0,9.0,8.0,AU,7.714286
4,11246,2.154490e+12,Ahirrao Vaishnavi Ki...,6.0,6.0,7.5,5.5,9.0,8.5,8.0,AU,7.214286
...,...,...,...,...,...,...,...,...,...,...,...,...
62,11246,2.254490e+12,Dhanashri Sanjay Cha...,6.5,7.0,7.5,6.0,9.0,9.0,9.0,AU,7.714286
63,11246,2.254490e+12,Om Shashikant Kadam,5.5,5.0,6.0,6.0,7.0,7.5,8.0,AU,6.428571
64,11246,2.254490e+12,Kalparatna Bhausaheb...,7.5,8.0,8.5,7.5,9.0,10.0,8.5,AU,8.428571
65,11246,2.254490e+12,Sushant Anan Rokade,6.5,7.0,6.5,8.0,8.5,7.5,8.5,AU,7.500000
66,11246,2.254490e+12,Jagruti Deepak Wagh,5.5,5.0,0.0,5.0,8.0,8.0,9.0,AU,5.785714